/* css styles */
.quarto-about-broadside .about-image {
  margin-top: -40px; 
}


.quarto-title {
  font-weight: bold;
}


.card {
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


a {
  text-decoration: none;
  color: #4b6cb7;
}

a:hover {
  text-decoration: underline;
}